:root {
  --red: #b81e42;
  --light-grey: #cfb0b9;
  --lightest-grey: #f3ecee;

  --text: black;
  --bg: white;

  --bg-highlight: var(--red);
  --text-highlight: white;

  --border-rounded: 99999px;
}
